/* Gustavo Cocone Zavaleta | GitHub: @EgirlBuchona | © 2022 */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2196f3;
    color: white;
}

header a {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #2196f3;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

a.btn {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

a.btn.eliminar {
    background-color: #f44336;
}