<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/(2023)/January/Personal_Blog_Flask/static/css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="container">
            <h1>Welcome to My Personal Blog</h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="/(2023)/January/Personal_Blog_Flask/templates/index.html">Home</a></li>
                    <li><a href="/(2023)/January/Personal_Blog_Flask/templates/register.html">Register</a></li>
                    <li><a href="/(2023)/January/Personal_Blog_Flask/templates/login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

<section class="hero-section">
    <h2>Discover My Thoughts and Ideas</h2>
    <p>Welcome to my blog, where I share my journey, stories, and insights. Dive into my latest posts below!</p>
</section>


<main class="blog-posts">
    {% for post in posts %}
    <article class="blog-card">
        <h3>{{ post[1] }}</h3>
        <p>{{ post[2][:100] }}...</p> 
        <footer>
            <a href="/post/{{ post[0] }}" class="btn-secondary">Read More</a>
            <p class="date">Posted on {{ post[3] }}</p>
        </footer>
    </article>
    {% endfor %}
</main>
    <footer class="main-footer">
        <p>© 2023 Gustavo Cocone Zavaleta | GitHub: @EgirlBuchona</p>
    </footer>
</body>

</html>