/* Gustavo Cocone Zavaleta | GitHub: @EgirlBuchona | © 2022 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#palabra {
    font-size: 1.5em;
    margin: 10px 0;
}

input,
button {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #0073e6;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

#mensaje {
    margin-top: 15px;
    font-size: 1.1em;
}